.box-container{
    display: flex;
}

.left-side{
    display: flex;
    flex-direction: column;
}

.right-side{
    margin: 0 10px;
    width: 100%;

}

.layer{
    cursor: pointer;
    padding: 2px; 
    border-radius: 2px;
}

.layer:hover{
    background-color: lightgrey;
}

.current-layer{
    background-color: lightgray;
}

